{% extends 'layout/main.html' %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-primary fw-semibold">“What’s two plus two?”</p>
                    <p>Something about the question irritates me. I’m tired. I drift back to sleep.</p>
                    <p>A few minutes pass, then I hear it again.</p>
                    <p class="text-primary fw-semibold">“What’s two plus two?”</p>
                    <p>The soft, feminine voice lacks emotion and the pronunciation is identical to the previous time she said it. It’s a computer. A computer is hassling me. I’m even more irritated now.</p>
                    <p class="fw-semibold">“Lrmln,” <span class="text-muted">I say.</span></p>
                    <p>I’m surprised. I meant to say <em>“Leave me alone”</em>—a completely reasonable response in my opinion—but I failed to speak.</p>
                    <p class="text-primary fw-semibold">“Incorrect. What’s two plus two?”</p>
                    <p>Time for an experiment. I’ll try to say hello.</p>
                    <p class="fw-semibold">“Hlllch?” <span class="text-muted">I say.</span></p>
                    <p class="text-primary fw-semibold">“Incorrect. What’s two plus two?”</p>
                    <p>What’s going on? I want to find out, but I don’t have much to work with. I can’t see. I can’t hear anything other than the computer. I can’t even feel. No, that’s not true. I feel something. I’m lying down. I’m on something soft. A bed.</p>
                    <p>I think my eyes are closed. That’s not so bad. All I have to do is open them. I try, but nothing happens.</p>
                    <p class="fst-italic">Why can’t I open my eyes?<br>
                    Open.<br>
                    Aaaand…open!<br>
                    Open, dang it!</p>
                    <p>Ooh! I felt a wiggle that time. My eyelids moved. I felt it. <strong>Open!</strong></p>
                    <p>My eyelids creep up and blinding light sears my retinas.</p>
                    <p class="fw-semibold">“Glunn!” <span class="text-muted">I say.</span></p>
                    <p>I keep my eyes open with sheer force of will. Everything is white with shades of pain.</p>
                    <p class="text-primary fw-semibold">“Eye movement detected. What’s two plus two?”</p>
                    <p>The whiteness lessens. My eyes are adjusting. I start to see shapes, but nothing sensible yet. Let’s see…can I move my hands? No. Feet? Also no.</p>
                    <p>But I can move my mouth, right? I’ve been saying stuff. Not stuff that makes sense, but it’s something.</p>
                    <p class="fw-semibold">“Fffr.”</p>
                    <p class="text-primary fw-semibold">“Incorrect. What’s two plus two?”</p>
                    <p>The shapes start to make sense. I’m in a bed. It’s kind of… oval-shaped.</p>
                    <p>LED lights shine down on me. Cameras in the ceiling watch my every move. Creepy though that is, I’m much more concerned about the <strong>robot arms</strong>.</p>
                    <p>The two brushed-steel armatures hang from the ceiling. Each has an assortment of disturbingly penetration-looking tools where hands should be. Can’t say I like the look of that.</p>
                    <p class="fw-semibold">“Ffff…oooh…rrrr,” <span class="text-muted">I say. Will that do?</span></p>
                    <p class="text-primary fw-semibold">“Incorrect. What’s two plus two?”</p>
                    <p>Dang it. I summon all my willpower and inner strength. Also, I’m starting to panic a little. Good. I use that too.</p>
                    <p class="fw-semibold">“Fffoouurr,” <span class="text-muted">I finally say.</span></p>
                    <p class="text-primary fw-semibold">“Correct.”</p>
                    <p>I breathe a sigh of relief. Wait—I just controlled my breathing. I take another breath. On purpose. My mouth is sore. My throat is sore. But it’s my soreness. I have control.</p>
                    <p>I’m wearing a breathing mask. It’s tight to my face and connected to a hose that goes behind my head. Can I get up? No. But I can move my head a little. I look down at my body.</p>
                    <p>I’m naked and connected to more tubes than I can count. There’s one in each arm, one in each leg, one in my “gentlemen’s equipment,” and two that disappear under my thigh. I’m guessing one of them is up where the sun doesn’t shine.</p>
                    <p>That can’t be good.</p>
                    <p>Also, I’m covered with electrodes. The sensor-type stickers like for an EKG, but they’re all over the place. Well, at least they’re only on my skin instead of jammed into me.</p>
                    <p class="fw-semibold">“Wh—” <span class="text-muted">I wheeze. I try again.</span> “Where…am…I?”</p>
                    <p class="text-primary fw-semibold">“What’s the cube root of eight?” <span class="text-muted">the computer asks.</span></p>
                    <p class="fw-semibold">“Where am I?” <span class="text-muted">I say again. This time it’s easier.</span></p>
                    <p class="text-primary fw-semibold">“Incorrect. What’s the cube root of eight?”</p>
                    <p>I take a deep breath and speak slowly. <span class="fw-semibold">“Two times e to the two-i-pi.”</span></p>
                    <p class="text-primary fw-semibold">“Incorrect. What’s the cube root of eight?”</p>
                    <p>But I wasn’t incorrect. I just wanted to see how smart the computer was. Answer: not very.</p>
                    <p class="fw-semibold">“Two,” <span class="text-muted">I say.</span></p>
                    <p class="text-primary fw-semibold">“Correct.”</p>
                    <p>I listen for follow-up questions, but the computer seems satisfied. I’m tired. I drift off to sleep again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}